:root {
  --amplify-primary-color: #007bff;
  --amplify-primary-tint: #28a745;
  --amplify-primary-shade: #28a745;
}

@import "~bootstrap/scss/bootstrap.scss";

/* Home
************************************************************** */
.home {
  background: url(./images/notepads.png) repeat center;
  -webkit-background-size: repeat;
  -moz-background-size: repeat;
  -o-background-size: repeat;
  background-size: repeat;
}
