// https://create-react-app.dev/docs/adding-bootstrap/
@import "~bootstrap/scss/bootstrap.scss";
@import "./scss/variables.scss";

// https://docs.amplify.aws/ui/customization/theming/q/framework/react
:root {
  --amplify-primary-color: #007bff;
  // Link hover
  --amplify-primary-tint: #28a745;
  // Sign in click
  --amplify-primary-shade: #28a745;
}

/* Home
************************************************************** */
.home {
  background: url(./images/notepads.png) repeat center;
  -webkit-background-size: repeat;
  -moz-background-size: repeat;
  -o-background-size: repeat;
  background-size: repeat;
  overflow: hidden;
}
.notes {
  background: url(./images/notepads.png) repeat center;
  -webkit-background-size: repeat;
  -moz-background-size: repeat;
  -o-background-size: repeat;
  background-size: repeat;
  overflow: auto;
}
.card {
  max-width: 25rem;
  max-height: 20rem;
}

/* Notes
************************************************************** */
.usernotes-body {
  min-height: 50vh;
}
.list-group-item {
  overflow-x: auto;
}

/* Media queries
************************************************************** */
@media (max-height: 414px) {
  .card {
    height: $height;
    margin-bottom: 0.5rem;
    h1 {
      font-size: x-large;
    }
  }
  .auth {
    height: $height;
  }
}
